/*.mdl-card__title-text {
    background: #9e9e9e;
    padding: 5px; 
    opacity: 0.6; 
    filter: alpha(Opacity=70); 
    color: #fff; 
    width: 100%;
    /*mix-blend-mode: multiply;*/
}*/

.mdl-layout__drawer-button {
    height: 42px !important;
    width: 42px !important;
    margin: 0px 0px !important;
}
.header-m {
    min-height:42px !important;
    height:42px;
}
.header-row {
    height:42px !important;
}
.card-img {
	position: relative;
	overflow: visible;
}
.mdl-button--fab {
    position: absolute;
    top: 220px;
    right: 16px;
}
.right {
    text-align: right;
    float: right;
}
.cards-section {
  max-width: 800800px;
}
.card-desc {
	min-height: 100px;
}
